 {{!                                                                                                                                 
    This file is part of Moodle - http://moodle.org/                                                                                
                                                                                                                                    
    Moodle is free software: you can redistribute it and/or modify                                                                  
    it under the terms of the GNU General Public License as published by                                                            
    the Free Software Foundation, either version 3 of the License, or                                                               
    (at your option) any later version.                                                                                             
                                                                                                                                    
    Moodle is distributed in the hope that it will be useful,                                                                       
    but WITHOUT ANY WARRANTY; without even the implied warranty of                                                                  
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                                                   
    GNU General Public License for more details.                                                                                    
                                                                                                                                    
    You should have received a copy of the GNU General Public License                                                               
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.                                                                 
}}  
{{!
    @template local_helloworld/helloworld_cards
}}

<div class="card-columns">
    {{#messages}}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{message}}</p>
                <footer class="blockquote-footer">{{fullname}}</footer>
                <footer class="blockquote-footer">{{timecreated}}</footer>
                {{#delete}}
                    <form method="post">
                        <div class="form-group">
                            <input type="hidden" name="{{sesskey_name}}" value="{{sesskey_value}}">
                        </div>
                        <div class="form-group">
                            <button type="submit" name={{delete_id}} value="{{id}}" class="btn btn-danger rounded">
                                <i>{{# str }}delete{{/ str }}</i>
                            </button>
                        </div>
                    </form>
                {{/delete}}
            </div>
        </div>
    {{/messages}}
</div>